body {
    background-color: #1B2838;
    margin: 0px;
    padding: 0px;
}
.container1 {
    background-color: #1B2838;
    width: 100%;
    height: 75px;
    margin: 0px;
}
.container2 {
    background-color: #1B2838;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    padding: 10px;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    background-color: #46602A;
}

.sidenav h2 {
    margin: 10px;
}

.idk {
    display: inline-flex;
}